.navbar {
    z-index: 1;
}
html,
body,
.view {
  height: 100%;
}
.white-text .display-3 {
    margin-top: 15px;
}
.white-text a{
    
    margin-top: 25px;
    
    color: ghostwhite;
    font-weight: bold;
    border-radius: 18px;
    
}
.white-text a .fa{
    margin-right: 6px;
}

.white-text a:hover{
    
    background: #3cbb92;
    color: ghostwhite;
    font-weight: bold;
    font-size: 14px;
    border-radius: 18px;
    
}
#gallery{
    margin: 25px 0;
}
.details{
    border-top: 1px solid silver;
}
.details h2{
    padding: 35px;
}

.details .row:nth-child(odd){
    padding-bottom: 35px;
} 
.details .row:nth-child(even){
    padding-bottom: 35px;
}
.details h3{
margin-top: 0;
}
.details .w3-xxlarge{
    color: #20c997;
}
.card{
    margin-bottom: 45px;
}
.status{
    background: #9B1B30;
    color: white;
    padding: 1em;
}


